<footer class="top-gap-1 w-footer clearfix">
    <div class="reason-title">
        <img src="/assets/wechat/contact.png">
    </div>
    <div class="footer-p top-gap-2">
        <img src="/assets/wechat/phone.png" style="margin-right:2px;position:relative;top:-1px;">
        客服电话：+49(0)40-5201-6993
    </div>
    <div class="footer-p" style="margin-top:2px">
        <img src="/assets/wechat/time.png"  style="margin-right:2px;position:relative;top:-1px;">
        工作时间：周一到周五9:00-18:00
    </div>
    <img src="/assets/wechat/kefu.png" style="width: 100%;margin-top: 20px;">
</footer>