 <header class="w-header clearfix">
    <div class="w-header-logo">
        <img class="full-img"  src="/assets/wechat/new_version/logo.png">
    </div>
    <div class="w-header-content">
        <%if @wui%>
            <div class="col-12 pull-left">
                <div class="col-9 pull-left">
                    <span class="font-30" style="color:#fff">
                        <%=@wui.email%>
                    </span>
                </div>
                <%if @page.present?&&@page=="products_page"%>
                        <div class="col-3 pull-left text-right">
                            <a href="/wechat/weixin/home"><img style="height:0.4rem;"  src="/assets/wechat/new_version/home.png"></a>
                        </div>
                <%else%>
                    <%if @wui.user_type!="default"&&@wuis.count>1%>
                        <div class="col-3 pull-left text-right">
                            <a href="/wechat/weixin/logout"><img style="height:0.4rem;"  src="/assets/wechat/new_version/logout.png"></a>
                        </div>
                    <%end%>
                <%end%>
            </div>
            <div class="col-12 pull-left" style="margin-top:0.28rem">
                    <%if @wui.user_rank=="platinum"%>
                        <img style="height:0.53rem;"  src="/assets/wechat/new_version/platinum_icon.png">
                    <%elsif @wui.user_rank=="diamond"%>
                        <img style="height:0.53rem;"  src="/assets/wechat/new_version/zuanshi_icon.png">
                    <%else%>
                        <img style="height:0.53rem;"  src="/assets/wechat/new_version/putong_icon.png">
                    <%end%>
            </div>
        <%else%>
            
            <div class="col-12 pull-left font-30" style="color:#fff">
                <a href="/wechat/weixin/login" style="color:#fff">登录</a>／<a href="/wechat/weixin/registration"  style="color:#fff">注册</a>
            </div>
            
        <%end%>
    </div>
</header>
