<!DOCTYPE html>
<html>
<head>
  <title>Wechat</title>
  <%= stylesheet_link_tag    "wechat/application", media: "all" %>
  <%= javascript_include_tag "wechat/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
